@use "@imarc/pronto/resources/styles/imported" as *;

.filters {
    flex: 1;
    min-width: 0;

    &__button {
        justify-self: end;
        @include at(md) {
                justify-self: stretch;
        }


        .mobileSearch {
            display: inline;
            @include at(md) {
            display: none;
            }
        }
    }

    &__filterGroup {
        flex: 1;      
    }

    &__header {
        align-items: center;
        display: flex;
        padding-top:0.85rem;
        width: 100%;
        justify-content: space-between;
    }

    &__filterRail {
        grid-column-start: 1;
        padding-right: 2rem;
        padding-top: 3rem;
        background-color:#ffffff;
        transition: width 400ms, padding-left 400ms;
        width: 0;
        &.closed {
            width: 0;
            padding-left: 6rem;
        }

        @include at(lg) {
            width: 28rem;
            flex-direction: column;
            gap: 1rem;
            padding-left: 8rem;
        }

        .clearRefinements {
            display: none;
        }

        button.hideButton {
            display: none;
            @include at(lg) {
                --accent-color: var(--link-color, var(--color-turquoise));
                align-items: center;
                color: var(--accent-color);
                display: inline-flex;
                gap: 1em;
                text-decoration: none;
                transition: color var(--root-ease-out-fast);
                background-color: var(--color-white);
                border: none;
            }
        }

        .hideMobile {
            display: inline;
            padding-right: 1rem;
            svg {
                height: auto;
            }
            @include at(lg) {
                display: none;
            }
        }

        &.openMobile {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: -50px;
        left: 0px;
        z-index:100;
        width: 100vw;
        height: 100%;
        padding-right: 0;
        .clearRefinements {

            display:inline;
            
            //padding: 1rem 2rem 0 1rem;
            
            position: sticky;
            bottom: 0;
            z-index: 3;
            height: 100px;
            width: 100vw;
            box-shadow: 0 -30px 30px var(--color-gray-100);
            background-color: white;
            @include at(lg) {
                display: none;
            }
            .ais-ClearRefinements {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: space-between;
            } 
            a {
                display: inline;
                height: 95%;
                width: 105%;
                padding-top: 0.35rem;
                padding-left: 1rem;
            }
            button.filterApply,
            button.filterClear {
                gap: 1rem;
                justify-content: space-between;
                width: 90%;
                height: 80%;
                justify-self: center;
                border: 0;
                border-radius: 5px;
                padding: 1rem;
                 
            }
            button.filterClear {
                background-color: var(--color-gray-100);
                border: none;
                height: 90%;
                    
            }
            button.filterApply {
                background-color: var(--color-turquoise);
                color: var(--color-dark-blue);
                font-weight: 600;
                margin-right: 2rem;
            }
            
        }
        .label {
            font-weight: 700;
            color: var(--color-dark-blue);
            @include at(lg) {
            font-weight: normal;
            color: var(--color-gray-500);
            }
        }
        .location {
            padding: 0 0.5rem;
            @include at(lg) {
                padding: 0;
            }
        }


        @include at(lg) {
            display:inline;
            position:relative;
            width: 28rem;
            flex-direction: column;
            gap: 1rem;
            padding-left: 8rem;
            height: auto;
            padding-right: 2rem;
            padding-top: 3rem;
        }
        }
    }


    &__icon {
        display: none;
        @include at(lg) {
            display:inline;
        }
    }
    &__search {
        grid-area: search;
    }

    &__searchButton {
        display: none;
        @include at(md) {
            display: inline;
        }
    }

    &__row {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: 4fr 4fr 1fr;
        justify-content: space-between;
        @include at(lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        grid-template-areas:
        "search search search"
        "date date button";

        @include at(lg) {
            grid-template-columns: minmax(18rem, 2fr) minmax(24rem, 1fr) 18rem;
            //grid-template-columns: 100% rem 18rem;
            grid-template-areas:
            "search date button";
        }
    }

    &__toggle {
        display: flex;
        padding: 0.5rem 0;
        .label {
        padding-left: 0.5rem;
        }
    }

    &__toggleOn {
        display: none;
        margin-right: 1rem;
        transition: display 400ms;
        &.closed {
            //display: none;
            @include at(lg) {
                display: inline;
            }
        }
        
    }
    
    &__wrapper {
        overflow: scroll;
        width: 100%;
        height: 100%;
        @include at(lg) {
            overflow: hidden;
            display: grid;
            height: auto;
        }
    }
}
