.ais-MenuSelect {
    border: thin solid var(--color-gray-400);
    margin-bottom: 0.3rem;
    border-radius: 5px;
    select {
      margin: .25rem;
      -webkit-appearance: none;
      width: 95%;
    }
    .multiselect-caret {
      width: 0.5rem;
    }
    .multiselect-placeholder {
      color: var(--color-dark-blue);
      font-weight: 100;
    }
    .multiselect-dropdown {
      border: thin solid var(--color-gray-400);
      box-shadow: var(--color-gray-400);
      margin-top: 0.5rem;
      margin-left: 0.1rem;
    }
    option {
      border-bottom: thin solid var(--color-gray-400);
      font-size: 0.9rem;
      padding-left: 1.5rem;
    }
}

.ais-MenuSelect:active {
  border: thin solid var(--color-turquoise);
  box-shadow: none;
}