
@use "@imarc/pronto/resources/styles/imported" as *;

.performance {



    &__dataTitle {
        font-weight: 100;
        font-size: 0.9rem;
        color: var(--color-mid-gray);
        
    }
    &__details {
        padding: 1.5rem 1.5rem .5rem 1.5rem;
        h4 {
            padding: 2rem 0 0.25rem;
            font-size: 1.25rem;
        }
        @include at(md) {
            padding: 0.5rem 2rem 0.5rem 4rem;
        }
        @include at(lg) {
            padding: 2.5rem 6.25rem 0.5rem 6.25rem;
        }
    }

    
    &__header {
        border-bottom: 1px solid var(--color-gray-200);
        h2 {
            font-weight: 100;
            font-size: 2rem;
            padding-bottom: 0.75rem;
        }
    }
    &__headerColumn {
        font-size: 0.9rem;
        min-height: 1.5rem;
        padding: 0.75rem 0 0.75rem 0;
    }
    &__headerData {
        border-bottom: 1px solid var(--color-gray-200);
        display: grid;
        font-weight: bold;
        color: var(--color-dark-blue);
        padding: 0.75rem 0 0.75rem 0;
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(5, 1fr) max(300px);
        }
        a {
            font-size: 0.9rem;
            color: var(--color-dark-blue);
        }
    }


    &__program {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;

        &.-even {
            background-color: var(--color-light-gray);
        }
        .composer {
            grid-area: "composer";
        }
    }

    &__separator {
        color: var(--color-mid-gray);
        font-weight: 100;
    }


}