@use "@imarc/pronto/resources/styles/imported" as *;

.performanceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include at(lg) {
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 6rem;
    }
    
    &__cell {
        padding: 0.5rem 1rem;
        border-right: thin solid var(--color-gray-200);
        border-left: thin solid var(--color-gray-200);
        grid-column: 1/span 2;
        display: grid;
        @include at(md) {
            padding: 0.75rem;
            border-left: none;
            grid-column: auto;
        }
        a{
            color: var(--color-dark-blue);
        }
        a:hover {
            color: var(--color-dark-blue);
            text-decoration: underline;
        }

        &.-artist {
            grid-column: auto;
            border-right:none;
            border-bottom: thin solid var(--color-gray-200);
            @include at(md) {
                border-right: thin solid var(--color-gray-200);
                border-bottom: none;
            }
        }
         &.-artist.-last {
            border-bottom: thin solid var(--color-gray-200);
         }
         &.-composers {
            display: inline;
         }
        &.-role {
            grid-column: auto;
            border-right: thin solid var(--color-gray-200);
            border-bottom: thin solid var(--color-gray-200);
            border-left: none;
            @include at(md) {
               border-bottom: none;
            }
        }
        &.-role.-last {
            border-bottom: thin solid var(--color-gray-200);
        }
        
        font-weight: bold;
        font-size: 0.9rem;
        &.-even {
            background-color: var(--color-light-gray);
        }
        &.-first {
            //border-left: none;
            @include at(md) {
                border-left: thin solid var(--color-gray-200);
            }
        }
        &.-header {
            display: none;
            @include at(md) {
                display: inline;
                border-top: thin solid var(--color-gray-200);
                border-bottom: thin solid var(--color-gray-200);
                font-weight:100;
                color: var(--color-mid-gray);
            }
           
        }
        &.-last, &.-top.-last {
            border-bottom: none;
            @include at(md) {
                border-bottom: thin solid var(--color-gray-200);
            }
            
        }
        &.-top {
            border-top:  thin solid var(--color-gray-200);
            border-bottom: none;
            @include at(md) {
                border-top: none;
            }
        }
        

    }

    &__infoItem {
        min-height: 2.5rem;
        &.-small {
            font-size: .8rem;
            font-weight: 100;
            a {
                font-weight: 600;
            }
        }
        svg {
            fill: var(--color-dark-blue);
            stroke: var(--color-white);
        }
    }

    &__mobileHeader {
        display: block;
        font-weight:100;
        color: var(--color-gray-400);
        @include at(md) {
            display: none;
        }
    }

    &__workItem {
        display:grid;
        grid-template-rows: auto;
        height: fit-content;
        
    }
    
}