@use "@imarc/pronto/resources/styles/imported" as *;

.eventLinks 
{
  display: flex;
  gap: 0.1rem;
  &.-detailsMobile {
    @include at(lg) {
      display: none;
    }
  }
  a.eventLinks__details,
  button,
  &__details {
    display: flex;
    background-color: inherit;
    padding-right: 0.5rem;
    border: none;
    color: var(--color-dark-blue);
    font-weight: bold;
    gap: 0.2rem;
  }

  button:hover {
    background-color: none;
  }
  button.eventLinks__details {
    display: flex;
    gap: .35rem;
    align-items: flex-start;
    text-align: left;
    padding-left: 0;
    padding-top: 0.1rem;
  }
  svg.eventLinks__icon {
    fill: var(--color-dark-blue);
    stroke: var(--color-white);
    height: 18px;
    min-width: 18px;
  }
  svg.eventLinks__icon:hover {
    stroke: var(--color-dark-blue);
    outline: var(--color-dark-blue);
    fill: var(--color-white);
  }
}

// .eventLinks__details:hover svg {
//   stroke: var(--color-dark-blue);
//   outline: var(--color-dark-blue);
//   fill: var(--color-white);
// }
a.eventLinks__link:hover, .eventLinks:hover button, a.eventLinks__details:hover, .eventLinks__details:hover button {
  text-decoration: underline;
  fill: none;
}