@use "@imarc/pronto/resources/styles/imported" as *;

.resultsPagination {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    flex-wrap: wrap;
    @include at(lg) {
      padding: 2rem  0;
    }

    &__currentPage{
      font-weight: bold;
      border-bottom: 2px solid var(--color-turquoise);
    }

    &__paginationComponent {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 1rem 0 0 0;
      justify-content: center;
      @include at(md) {
        justify-content: left;
        padding-top: 0;
      }

      li {
        padding: 0 .2rem;
        height: 1.5rem;
      }
      li.arrow a{
        color: var(--color-turquoise);
      }

      li:hover {
        font-weight: bold;
      }

      a {
        font-size: 1.1rem;
        color: var(--color-gray-500);
       
      }
      // a:hover {
      //     text-decoration: underline;
      // }

      
  }
}